<h3><%= link_to h(post.title.titleize), blog_post_url(@blog.seo_id, post.seo_id) %></h3>

<div id="post-body">
  <%= add_breaks(auto_link((post.body), :all, :target => "_blank")) %>
</div>

<div id="post-data">
  published on <%= h_date(post.published_at) %> in
  <%= link_to(post.blog.name, blog_url(post.blog.seo_id), :class => "seo_id") %> - <span class='subtitle'><%= link_to('comments', blog_post_url(@blog.seo_id, post.seo_id)) %></span>
</div>