<% if @posts %>
  <h5 class='subtitle'><%= pluralize(@blog.public_count, 'post') %> in this blog since <%= h_date(@blog.created_at) %></h5>
<% end %>

<div id="post_list">
  <%= render :partial => 'post', :collection => @posts if @posts %>
  <%= render :file => './posts/show', :object => @post if @post %>
</div>

<div id="bottom-page-link">
  <%= link_to("Older Posts", archive_url(@blog.seo_id)) if @blog.public_count > 5 %>
</div>
<div style="clear:both;"></div>