<%= error_messages_for :post, :header_message => nil %>

<div id="new-post">
  <% form_for(:post, :url => dashboard_posts_url) do |f| %>

    <%= render :partial => "form", :locals => {:f => f, :public_option => true} %>

    <%= button_to_function("SAVE TO DRAFT", "this.value = 'Wait...'; form.submit(); this.disabled = true") %>
    <%= button_to_function("PUBLISH", "if (confirm('Are you sure you want to publish this post?')){ this.value = 'Wait...'; $(\"#is_public\").val('true'); form.submit(); this.disabled = true}") %>
    or <%= link_to('cancel', dashboard_url, :confirm => "Are you sure? All chenges will be lost!") %>

  <% end %>  
</div>
