<h1><%= @post.title %></h1>

<div id="post-body">
  <%= add_breaks(auto_link((@post.body), :all, :target => "_blank")) %>
</div>

<div id="post-data">
  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pub=mekdigital"></script>
  <a id="blog-post-<%= @post.id %>"></a>
  <script type="text/javascript">
  addthis.button('#blog-post-<%= @post.id %>', {}, {url: "http://blog.mekdigital.com<%= blog_post_path(@blog.seo_id, @post.seo_id) %>", title: "<%= h(@post.title.titleize) %>"});
  </script>
  &nbsp;
  
  <%= @post.published_at ? "published on #{h_date(@post.published_at)}" : 'created' %>
  in
  <%= link_to(@post.blog.name, blog_url(@post.blog.seo_id), :class => "seo_id") %>
</div>

<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/mekdigital/embed.js"></script><noscript><a href="http://disqus.com/forums/mekdigital/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">powered by <span class="logo-disqus">Disqus</span></a>

<div id="bottom-page-link">
  <%= link_to("Back", :back) %>
</div>
<div style="clear:both;"></div>