<%= error_messages_for :blog, :header_message => nil %>

<h1><%= current_blog.name %></h1>

<% form_tag(dashboard_blog_url(current_blog), :method => :put) do %>

  Choose a new name for your blog: 
  <%= text_field_tag "blog_name", current_blog.name %>

  <%= submit_tag('UPDATE', :disable_with => "Wait...") %>
  or <%= link_to('cancel', dashboard_url) %>

<% end %>