<h4>
  <%= pluralize(current_blog.posts_count, 'posts') %>
  (<%= current_blog.public_count %> public) since <%= h_date(current_blog.created_at) %>
</h4>

<%= render :partial => 'dashboard/menu' %>

<% if @posts && @posts.size > 0 %>
  <div id="post-tbl">
    <table>
      <%= render :partial => 'dashboard/posts/post', :collection => @posts %>
    </table>
  </div>
<% end -%>

<div id="pagination-info">
  <%= page_entries_info @posts %>
</div>

<div id="pagination-links">
  <%= will_paginate @posts %>
</div>
<div style="clear:both;"></div>